language: php

php:
  - "5.5"
  - "5.4"
  - "5.3"

env: DB=mysql

before_script:
  - composer update --dev
  - pyrus install --force phpunit/DbUnit
  - phpenv rehash
  - mysql -e "CREATE DATABASE IF NOT EXISTS boilerplate;" -uroot;
  - php artisan migrate:install
  - php artisan migrate
  - php artisan db:seed
  ##- mysql -e "CREATE TABLE IF NOT EXISTS boilerplate.item (id int(11) NOT NULL AUTO_INCREMENT, name varchar(255) NOT NULL, created datetime NOT NULL, PRIMARY KEY (id)) ENGINE=InnoDB DEFAULT CHARSET=utf8;" -uroot;
  ##- mysql -e "INSERT INTO todotestdb.item VALUES (null, 'Download silex-skeleton-rest.', '2013-01-01 00:00:00'), (null, 'Utilize the skeleton so I can use it for my project.', '2013-01-06 19:00:00');" -uroot;

script: phpunit --configuration phpunit.xml --coverage-text